/* 头部样式 */
.header{
    background-color: #f7f7f7;
}
/* 头部logo样式 */
.header__wrap{
    width: 1500px;
    height: 80px;
    position: relative;
    margin: auto 0;
}
.header__logo{
    width: 150px;
    height: 38px;
    line-height: 38px;
    font-size: 20px;
    color: #07111b;
    text-indent: 50px;
    background:url('../img//logo.png') left center no-repeat;
    background-size: 38px 38px;
    position: absolute;
    top: 50%;
    left: 20px;
    margin-top: -19px;
}
/* 头部导航栏样式 */
.header__nav{
    position: absolute;
    right: 20px;
    height: 38px;
    line-height: 38px;
    top: 50%;
    margin-top: -19px;
}
.header__nav-item{
    color: #292f35;
    font-size: 14px;
    display: block;
    line-height: 38px;
    float: left;
    margin-left: 20px;
    position: relative;

}
.header__nav-item:hover{
    color:#f01400;
}
.header__nav-item_status_active {
    color:#f01400;
}
.header__nav-item_status_active::after{
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #f01400;
}
.header__nav-item_status_button {
    background: #000;
    color: #f4f4f5;
    text-align: center;
    width: 90px;
    border-radius: 3px;
}
/* 第一屏 */
.screen-1{
    height: 800px;
    background-color: #e7e7e7;
    position: relative;
    overflow: hidden;
    background: url('../img/bg-screen-1.png') no-repeat center;
    background-size: cover;
}
.screen-1__heading{
    font-weight: normal;
    text-align: center;
    color: #4d555d;
    padding-top: 152px;
}
.screen-1__heading b{
    color: #f01400;
    font-weight: normal;
}
.screen-1__phone{
    width: 1375px;
    height: 305px;
    background: url('../img/screen-1-phone.png') no-repeat center;
    position: absolute;
    left: 50%;
    margin-left: -687px;
    bottom: 220px;
    z-index: 2;
}
.screen-1__shadow{
    width: 1233px;
    height: 411px;
    background: url('../img/screen-1-shadow.png') no-repeat center;
    position: absolute;
    left: 50%;
    margin-left: -616px;
    bottom: 30px;
    opacity: 0.8;
    z-index: 1;
}
/* 第二屏 */
.screen-2{
    background: #fafafa;
    height: 800px;
}
.screen-2__heading{
    font-weight: normal;
    text-align: center;
    color: #f01400;
    padding-top: 96px;
    font-style: 46px;
}
.screen-2__subheading{
    font-weight: normal;
    text-align: center;
    color: #f01400;
    padding-top: 25px;
    font-style: 46px;
}
.screen-2__phone{
    width: 928px;
    height: 873px;
    background: url('../img/bg-screen-2.png') no-repeat center;
    position: absolute;
    left: 50%;
    margin-left: -464px;
    bottom: 0;
    z-index: 2;
}
.screen__point{
    width: 108px;
    padding-right: 112px;
    height: 22px;
    font-size: 22px;
    line-height: 22px;
    color:#4d555d;
    background: url('../img/icon-point-right.png') no-repeat center;
}
.screen__point{
    padding: 0 0 0 112px;
    background: url('../img/icon-point-left.png') no-repeat center;
}